<h1>Gestione libri</h1>
<p>Di seguito puoi gestire le schede dei libri inserite a sistema.</p>

##-Dict::book_add-##
<table summary="Elenco dei libri presenti a sistema" id="admin_books">
	<caption>Elenco libri</caption>

	<thead>
		<tr>
			<th scope="col">Titolo</th>
			<th scope="col">Anno pubblicazione</th>
			<th scope="col">Editore</th>
			<th scope="col">Prezzo</th>
			<th scope="col">Quantità venduta</th>
			<th scope="col" abbr="op">Operazioni</th>
		</tr>
	</thead>

	<tbody>
		##-Dict::TableContent-##
	</tbody>
</table>
##-Dict::book_add-##
