<h3>Registra il tuo account ##-Global::PROJECT_TITLE-##</h3>
<div class="box_success">
	<h4>Registrazione avvenuta con successo!</h4>
	<p>Grazie ##-FormData::name-## per aver completato la registrazione del tuo account!</p>
	<p>Le tue credenziali di accesso all'area riservata sono:</p>
	<dl>
		<dt>Username</dt>
		<dd>##-Dict::username-##</dd>
		<dt>Password</dt>
		<dd>La password che hai inserito nel modulo di registrazione</dd>
	</dl>
</div>

<p><a href="/auth/login/">Clicca qui</a> per accedere subito all'area riservata per completare il tuo profilo ed inserire la scheda anagrafica della tua area.</p>
