<h3>Modifica la scheda dell'autore ##-Dict:author_fullname-##</h3>
<form method="post" action="##-View::FormAction-##" id="authors-add-form" enctype="multipart/form-data">
	##-View::Messages-##
	<fieldset>
		<legend>Scheda autore</legend>

		<div class="field">
			<label for="name">Nome</label>
			<input type="text" name="name" id="name" value="##-Dict::name-##" required>
			##-FieldError::name-##
		</div>

		<div class="field">
			<label for="surname">Cognome</label>
			<input type="text" name="surname" id="surname" value="##-Dict::surname-##" required>
			##-FieldError::surname-##
		</div>

		<div class="field">
			<label for="picture">Foto dell'autore</label>
			##-Dict::picture_preview-##
			<input type="file" name="picture" id="picture">
			##-FieldError::picture-##
			<!-- TODO field instructions -->
		</div>

		<div class="field">
			<label for="birthdate">Data di nascita</label>
			<input type="date" name="birthdate" id="birthdate" value="##-Dict::birthdate-##" required>
			##-FieldError::birthdate-##
		</div>

		<div class="field">
			<label for="birthplace">Luogo di nascita</label>
			<input type="text" name="birthplace" id="birthplace" value="##-Dict::birthplace-##" required>
			##-FieldError::birthplace-##
		</div>

		<div class="field">
			<label for="codmothertongue">Lingua madre</label>
			<select name="codmothertongue" id="codmothertongue">
				<option>Selezionare una lingua dall'elenco...</option>
				##-Dict::MotherTongueOptions-##
			</select>
			##-FieldError::codmothertongue-##
		</div>

		<div class="field">
			<label for="additionalinfo">Informazioni sull'autore</label>
			<textarea name="additionalinfo" id="additionalinfo">##-Dict::additionalinfo-##</textarea>
			##-FieldError::additionalinfo-##
		</div>
	</fieldset>

	<input type="submit" name="CMD_Execute" value="Salva scheda autore">
</form>
<script type="text/javascript">
document.forms["login-form"].addEventListener("submit", checkLoginForm);
</script>