<h1>Gestione autori</h1>
<p>Di seguito puoi gestire le schede degli autori inserite a sistema.</p>

##-Dict::author_add-##
<table summary="Elenco degli autori presenti a sistema" id="admin_authors">
	<caption>Elenco autori</caption>

	<thead>
		<tr>
			<th scope="col">Cognome</th>
			<th scope="col">Nome</th>
			<th scope="col">Data di Nascita</th>
			<th scope="col">Luogo di Nascita</th>
			<th scope="col">Lingua madre</th>
			<th scope="col" abbr="op">Operazioni</th>
		</tr>
	</thead>

	<tbody>
		##-Dict::TableContent-##
	</tbody>
</table>
##-Dict::author_add-##
