<article class="author author_full">
	<h2>##-Dict::AuthorName-## ##-Dict::AuthorSurname-##</h2>
	<figure>
		<figcaption>Foto dell'autore</figcaption>
		<img src="##-Dict::AuthorPicture-##">
	</figure>
	<dl>
		<dt class="name">Nome</dt>
			<dd class="name">##-Dict::AuthorName-##</dd> <!-- TODO decidere se aprire una pagina dedicata all'autore -->
		<dt class="surname">Cognome</dt>
			<dd class="surname">##-Dict::AuthorSurname-##</dd>
		<dt class="birthdate">Data di nascita</dt>
			<dd class="birthdate">##-Dict::AuthorBirthDate-##</dd>
		<dt class="birthplace">Luogo di nascita</dt>
			<dd class="birthplace">##-Dict::AuthorBirthPlace-##</dd>
		<dt class="mothertongue">Madrelingua</dt>
			<dd class="mothertongue">##-Dict::AuthorMotherTongue-##</dd>
	</dl>
	<p aria-label="Informazioni aggiuntive">##-Dict::AuthorAdditionalInfo-##</p><!-- TODO serve la label ARIA?!? -->

	<aside>
		<h3>Libri di questo autore</h3>
		##-Dict::BooksList-##
	</aside>
</article>