/*
#00264b --> Colore primario: blu scuro
#0066cb --> Colore secondario: blu chiaro
#d55358 --> Colore evidenza: rosso
#000000 --> Colore testo: nero
#ffffff --> Colore testo in negativo: bianco
*/
:root
{
	--primarycolor: #00264b;
	--secondarycolor: #0066cb;
	--highlightcolor: #d55358;
	--textcolor: #000000;
	--inversetextcolor: #ffffff;
}

a,
a:link
{
	
}

a:visited
{

}

a:hover,
a:focus
{

}

a:active
{

}

body > header,
body > header > h1 > span
{
	background-color: #00264b;
	color: #ffffff;
}

nav#breadcrumbs
{
	background-color: #0066cb;
	color: #ffffff;
}

nav#mainmenu
{
	background-color: #00264b;
	color: #ffffff;
}


body > footer
{
	background-color: #0066cb;
	color: #ffffff;
}
