/*
#00264b --> Colore primario: blu scuro
#0066cb --> Colore secondario: blu chiaro
#d55358 --> Colore evidenza: rosso
#000000 --> Colore testo: nero
#ffffff --> Colore testo in negativo: bianco
*/
:root
{
	--primarycolor: #00264b;
	--secondarycolor: #0066cb;
	--highlightcolor: #d55358;
	--textcolor: #000000;
	--inversetextcolor: #ffffff;
}

a,
a:link
{
	color: #3333FF; /* WEB SAFE COLORS https://www.w3.org/TR/2008/NOTE-WCAG20-TECHS-20081211/working-examples/G183/link-contrast.html */
}
nav#breadcrumbs a,
nav#breadcrumbs a:link,
nav#mainmenu a,
nav#mainmenu a:link
{
	color: #ffffff;
}
nav#mainmenu a,
nav#mainmenu a:link
{
	text-decoration: none;
}

a:visited
{
	color: #9900FF;/* WEB SAFE COLORS https://www.w3.org/TR/2008/NOTE-WCAG20-TECHS-20081211/working-examples/G183/link-contrast.html */
}
nav#breadcrumbs a:visited
{
	color: #ffffff;
}
nav#mainmenu a:visited
{
	color: #ffffff;
}

main a:hover,
main a:focus
{
	background-color:blanchedalmond;
	/*border-top: 1px solid #3333FF;*/
	text-decoration-style: double;
}
nav#mainmenu a:hover,
nav#mainmenu a:focus
{
	text-decoration: underline;
}

a:active
{

}

body > header,
body > header > h1 > span
{
	background-color: #00264b;
	color: #ffffff;
}

nav#breadcrumbs
{
	background-color: #0066cb;
	color: #ffffff;
}

nav#mainmenu
{
	background-color: #00264b;
	color: #ffffff;
}


body > footer
{
	background-color: #0066cb;
	color: #ffffff;
}

body > footer a,
body > footer a:link
{
	color:#ffffff
}

body > footer a:hover, 
body > footer a:focus
{
	color: #ffffff;
	text-decoration-style: double;
}

body > footer a:visited {
	color:#d55358;
}


div.field
{
	border-color: #00264b;
}
