<form method="post" action="##-View::FormAction-##" id="categories-add-form">
	<p>Categoria madre: ##-Dict::mothername-##</p>

	<fieldset>
		<div class="field">
			<label for="name">Nome categoria</label>
			<input type="text" name="name" id="name" value="##-Post::name-##" required>
			##-FieldError::name-##
		</div>
	</fieldset>

	<input type="submit" name="CMD_Execute" value="Aggiungi categoria">
</form>
<script type="text/javascript">
document.forms["login-form"].addEventListener("submit", checkLoginForm);
</script>