<h1>Gestione categorie</h1>
<p>Le categorie sono gestite tramite una struttura ad albero. Ogni categoria può avere un numero illimitato di sotto-categorie. La Gestione Categorie consente di gestire tutte le categorie figlie di una categoria madre, a partire dalla lista delle categorie di livello più alto che non hanno una categoria madre in quanto categorie principali.</p>
<p>Per gestire l'elenco di sotto-categorie figlie di una categoria, cliccare la corrispondente voce "Visualizza sotto-categorie" dalla cella "Operazioni".</p>
<p>Per tornare al livello della categoria superiore, cliccare la voce "Torna al livello di categoria superiore".</p>
<p>Per aggiungere una nuova categoria nel livello visualizzato, ovvero come figlia della categoria madre dell'elenco corrente, cliccare sulla voce "Aggiungi categoria in questo livello".</p>

##-Dict::category_up-##
##-Dict::category_add-##
<table summary="Elenco delle categorie##-Dict::category_caption-## presenti a sistema" id="admin_categories">
	<caption>Elenco categorie##-Dict::category_caption-##</caption>

	<thead>
		<tr>
			<th scope="col">Categoria</th>
			<th scope="col" abbr="op">Operazioni</th>
		</tr>
	</thead>

	<tbody>
		##-Dict::TableContent-##
	</tbody>
</table>
##-Dict::category_up-##
##-Dict::category_add-##