<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="##-View::Description-##">
	<meta name="keywords" content="##-View::Keywords-##">
	<meta name="author" content="##-View::Authors-##">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"><!-- TODO verfificare se serve -->
    <title>##-Global::PROJECT_TITLE-## ##-View::Title-##</title>
    <link rel="stylesheet" href="##-Global::BASE_DIR-##/styles/style.css" type="text/css" />
    <link rel="stylesheet" href="##-Global::BASE_DIR-##/styles/admin.css" type="text/css" />
    <link rel="stylesheet" href="##-Global::BASE_DIR-##/styles/colors.css" type="text/css" />
	<script type="text/javascript" src="##-Global::BASE_DIR-##/js/validation.js"></script>
  </head>

  <body id="##-View::Name-##">
	<header role="banner">
		<h1><span></span>##-Global::PROJECT_TITLE-##</h1>
	</header>

	##-View::Breadcrumbs-##

	##-Menu::mainmenu-##

	<main role="main">
		<a id="top"></a>
		##-View::Content-##
		<p class="backtotop"><a href="#top">Torna all'inizio</a></p>
	</main>

	<footer role="contentinfo">
		<p>Progetto realizzato per il corso Tecnologie Web a.a. 2022-2023 da:</p>
		<address> <!-- Elemento semantico destinato anche a qualificare le informazioni di contatto degli autori -->
			<a href="mailto:alberto.casadomoreno@studenti.unipd.it" rel="author">Alberto Casado Moreno</a>
			<a href="mailto:gabriele.saracco@studenti.unipd.it" rel="author">Gabriele Saracco</a>
			<a href="mailto:matteo.baggio.5@studenti.unipd.it" rel="author">Matteo Baggio</a>
			<a href="mailto:michele.marchioro.1@studenti.unipd.it" rel="author">Michele Marchioro</a>
			<!-- TODO dubbi: mettere un elenco UL oppure no? -->
		</address>
	</footer>
  </body>
</html>